<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Elkenany-Project.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>323B21EF274A462B002CEB89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>323B2208274A462F002CEB89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>323B2213274A462F002CEB89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
